html,body{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.container{
    height: 90vh;
    border: 1px solid red;
}
#task-tabs{
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    position: relative;
}
/* #task-tabs div{
    padding: 1em;
} */
#list{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1em;
}

.doneItems{
    /* background-color: #ccc; */
    text-decoration: line-through;
}
.done{
    background-color: #ccc;
}
.menu{
    margin: 1em;
}
.menu:hover{
    cursor:pointer;
}
.under-line{
    height: 4px;
    background-color: pink;
    position: absolute;
    /* margin-top: 5px; */
    transition: 0.5s;
}