* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 430px;
}
.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* 메뉴들이 길어도 옆으로 빠져나오지 않게 해준다! */
    border-top : 1px solid #e2e2e2;
    border-bottom: 4px double black;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover{
    background-color: beige;
}
.news-img-size{
    max-width: 100%;     /* 부모 기준으로 100%. 부모크기를 초과하지 않는다! */
    max-height: 250px;
}
.news{
    border-bottom: 2px solid #e2e2e2;
    padding: 1em;
}
.searching-tab{
    display: flex;
    align-items: center;
}
.search-icon:hover{
    cursor: pointer;
}
.search-toggle {
    display: none;
}
.search-toggle.active{
    display: flex;
}
.hamburger{
    display: none;
}
.x-btn{
    display: none;
}



/* 미디어쿼리 */
@media (max-width: 576px){
    .hamburger{
        display:flex;
        margin-right: 5px;
    }
    .hamburger:hover{
        cursor:pointer;
    }
    .menus{
        margin-top: 0;
        position: fixed;       /* 화면에 고정 */
        top: 0;
        left: -250px;          /* 처음엔 안 보이게 */
        width: 250px;
        height: 80vh;         /* 세로 전체 */
        background: white;
        border: 1px solid #ddd;
        transition: left 0.3s ease;  /* 슬라이드 애니메이션 */
        display: flex;
        flex-direction: column;
        padding: 1em;
        z-index: 999;       /* 겹침 정도 */
    }
    .menus.active {
        left: 0; /* 왼쪽에서 쑥 나옴 */
    }
    .x-btn{
        display: flex;
        /* align-self: flex-end;
        margin-top: -50px; */
        position: absolute;
        top: 10px;            /* 위에서 10px */
        right: 10px;          /* 오른쪽에서 10px */
        border: none;
        background: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .news{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .news.col-lg-4, .news.col-lg-8 {
        flex: none;       /* flex-grow 막기 */
        max-width: 100%;  /* 가로 꽉 채우기 */
        padding: 0;       /* 부트스트랩 기본 padding 제거 */
    }

    .news-img-size {
        margin-bottom: 1em; /* 사진과 글 사이 여백 */
    }
}

